.entry__content {
    margin-top: 1.5rem;
}

.entry__content > :first-child {
    font-size: 1.25em;
}

.entry__content > * + * {
    margin-top: 1.5rem;
}

.entry__content ul {
    list-style: square outside;
    padding-left: 1.5em;
}

.entry__content ol {
    list-style: decimal outside;
    padding-left: 1.5em;
}

.entry__content hr {
    clear: both;
    background-color: var(--shade-color);
    background-image: linear-gradient(left, #fff, var(--fade-color), #fff);
    color: #fff;
    width: 75%;
    height: 1px;
    border: 0;
    margin: 2em auto;
}

@media all and (min-width: 830px) {
    .entry__content img,
    .entry__content pre {
        display: block;
        max-width: calc(100% + 150px);
        margin-left: -75px;
        margin-right: -75px;
    }
}
