.entry__content {
    margin-top: 1.5rem;
}

.entry__content > * + * {
    margin-top: 1.5rem;
}

.entry__content ul {
    list-style: square outside;
    padding-left: 1.5em;
}

.entry__content ol {
    list-style: decimal outside;
    padding-left: 1.5em;
}

.entry__content hr {
    clear: both;
    background-color: var(--shade-color);
    background-image: linear-gradient(left, #fff, var(--fade-color), #fff);
    color: #fff;
    width: 75%;
    height: 1px;
    border: 0;
    margin: 2em auto;
}

.entry__content figcaption {
    font-size: 0.875em;
    line-height: 1em;
    max-width: calc(700px - 2rem);
    margin: 0 auto;
    font-style: italic;
    text-align: center;
    color: var(--quote-color);
}

@media (min-width: 850px) {
    .entry__content figure {
        display: block;
        width: calc(100% + 150px);
        margin-left: -75px;
        margin-right: -75px;
    }

    .entry__content pre {
        width: calc(100% + 36px);
        margin-left: -18px;
        margin-right: -18px;
    }
}
