.footnotes {
    font-size: 0.75rem;
    color: var(--quote-color);
}

.footnotes-sep {
    visibility: hidden;
}

.footnote-backref,
.footnote-ref a {
    text-decoration: none;
}

.footnote-ref {
    position: relative;
    top: -0.5em;
    font-size: 0.75em;
    vertical-align: inherit;
}
