.site-header {
    margin-bottom: 2.5rem;
}

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-logo {
    float: left;
    background: var(--theme-color);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    padding: 0.75em;
    padding-top: 1.5em;
}

.site-nav {
    float: left;
    margin: 1rem;
    margin-top: 2.25rem;
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
}

.site-info {
    color: var(--quote-color);
    text-align: center;
    font-size: 0.75em;
    line-height: 1.25em;
    margin: 2.5rem 0 1rem 0;
}
