.site-header {
    margin-bottom: 2.5rem;
}

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-logo {
    float: left;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    padding: 1rem;
    padding-top: max(1rem, min(5vh, 2rem));
}

.site-nav {
    float: left;
    margin: 1rem;
    margin-top: max(1rem, min(5vh, 2rem));
    border-bottom: none;
    color: var(--darkish-color);
    text-transform: uppercase;
}

.site-info {
    color: var(--darkish-color);
    text-align: center;
    font-size: 0.75em;
    line-height: 1.25em;
    margin: 2.5rem 0 1rem 0;
}
