.site-header {
    @include clearfix();
	margin-bottom: 2.5em;
}

.site-logo {
	float: left;
	background: $mid-theme-color;
	color: lighten($light-theme-color, 50%);
	text-transform: uppercase;
	text-decoration: none;
	font-family: $heading-font;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1em;
	padding: 0.5em;
    padding-top: 2.5rem;
	border: 1px solid $mid-theme-color;

	.home-page & {
		@media (min-height:650px) {
			padding-top: 5rem;
		}
	}
}

.site-nav {
    @include clearfix();
    clear: both;
	list-style: none;
	text-transform: uppercase;
	font-family: $heading-font;
	font-weight: bold;
	padding-top: 0.5rem;

	li {
		display: inline-block;

		&:after {
			content: "\2022";
			color: $light-theme-color;
			padding-left: 0.5em;
			padding-right: 0.25em;
			opacity: 0.8;
		}

		&:last-child:after {
			content: "";
		}
	}

	a {
		color: $quote-color;
		text-decoration: none;

		&:hover, &:focus {
			color: $base-color;
		}
	}

	@media all and (min-width:600px) {
		clear: none;
		float: left;
		padding: 2.5rem 0 0 0.75rem;
	}
}

.site-info {
	color: $quote-color;
	text-align: center;
	font-size: 0.75em;
	line-height: 1.25em;
	margin-top: 2.5rem;

	.home-page & {
		text-align: left;
	}
}

.site-intro {
	clear: left;
	padding-top: 2rem;

	p {
		&:first-child {
			font-size: 3rem;
			line-height: 1em;
		}

		&:nth-child(2) {
			font-size: 1.5rem;
			line-height: 1.25em;
		}

		& + p {
			margin-top: 1.5rem;
		}
	}
}
