.byline {
	color: $fade-color;
}

.byline__permalink {
	font-weight: bold;
	text-decoration: none;
}

.byline__date,
.byline__source {
	font-weight: bold;
}

.byline__split {
	font-style: italic;
}

.byline__tag {
    padding: 0 0.125em;
    border: 1px solid $light-theme-color;
    border-radius: 0.25em;
}

.entry--list {
	margin-bottom: 2.5em;
}

.entry--full  {
    .byline {
        margin-bottom: 1.5rem;
    }

    .long-form > :first-child {
        font-size: 1.25em;
    }
}
