html {
	background: #fff;
	color: $base-color;
	font-size: 16px;
	font-family: $base-font;
	padding: 0 1em;
	border-top: 0.25em solid $dark-theme-color;

	@media print {
		padding: 0;
	}
}

body {
    line-height: 1.5rem;
	max-width: 640px;
	margin: 0 auto;
}

a {
	color: $light-theme-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: bold;
	text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
}

h2 {
	font-size: 2em;
	line-height: 1em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
}

h4 {
	font-size: 1.25em;
	line-height: 1rem;
}

blockquote {
	position: relative;
	color: $fade-color;
	padding: 0 3em;

	p + p {
        margin-top: 1.5rem;
    }

	&:before {
		content: "\201C";
		position: absolute;
		top: 0.3em;
		left: 0.3em;
		color: $light-theme-color;
		font-size: 3em;
		font-family: $heading-font;
	}

	@media all and (min-width:600px) {
		padding: 0 4em;

		&:before {
			left: 0.6em;
		}
	}
}

table {
	text-align: left;
}

thead {
	border-bottom: 1px solid $shade-color;
}

tfoot {
	border-top: 1px solid $shade-color;
}

td, th {
	padding-right: 1em;

	&:last-child {
		padding-right: 0;
	}
}

.number-cell {
	text-align: right;
}

hr {
	clear: both;
	background-color: $shade-color;
    background-image: linear-gradient(left, #fff, $fade-color, #fff);
	color: #fff;
	width: 75%;
	height: 1px;
	border: 0;
	margin: 2em auto;
}

.hero-image {
	display: block;

	@media all and (min-width:975px) {
		max-width: 130%;
		margin-left: -15%;
		margin-right: -15%;

        img {
            display: block;
            width: 100%;
        }
	}
}

.long-form {
    > * + * {
        margin-top: 1.5rem;
    }

    ul {
        list-style: square outside;
        padding-left: 1.5em;
    }

    ol {
        list-style: decimal outside;
        padding-left: 1.5em;
    }
}

.twitter-tweet-rendered {
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
}
