$base-font: "Overpass", "Helvetica", sans-serif;
$heading-font: $base-font;
$mono-font: "Overpass Mono", "Consolas", "Courier New", monospace;

$base-color: #333;
$quote-color: #666;
$fade-color: #888;
$shade-color: #eaeaea;

$link-color: rgb(0, 210, 225);

$cv-color: rgb(29, 77, 148);
$cv-color-shade: rgba(29, 77, 148, 0.25);
$cv-color-stripe: rgba(0, 42, 244, 0.05);

@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}