<!doctype html>
<html lang="en">
{% include head %}
<body class="about-page">
<main class="main" role="main">
    <section class="contact" itemscope itemtype="https://schema.org/Person">
        <div class="contact__card contact__card--back"></div>
        <div class="contact__card contact__card--back"></div>
        <div class="contact__card contact__card--front">
            <img class="contact__photo" alt="Photo of David Goss" src="/static/me.jpg"/>
            <h3 class="contact__name">
                <a href="/"><span itemprop="name">David Goss</span></a>
            </h3>
            <a href="mailto:david@davidgoss.co" itemprop="email">david@davidgoss.co</a>
        </div>
    </section>
    <section class="long-form synopsis" itemprop="articleBody">
        {{ content | safe }}
    </section>
    <section>
        <ol class="meta-flow">
            <li>
                <a href="https://daringfireball.net/projects/markdown/"><img alt="Markdown" src="/static/markdown.svg"/></a>
            </li>
            <li>
                <a href="https://www.11ty.dev/"><img alt="Eleventy" src="/static/eleventy.svg"/></a>
            </li>
            <li>
                <a href="https://www.netlify.com/"><img alt="Netlify" src="/static/netlify.svg"/></a>
            </li>
        </ol>
    </section>
</main>
</body>
</html>


