<!doctype html>
<html lang="en">
{% include head %}
<body class="about-page">
<article itemscope itemtype="http://schema.org/Article">
    <section class="contact">
        <div class="contact__card contact__card--back"></div>
        <div class="contact__card contact__card--back"></div>
        <div class="contact__card contact__card--front">
            <img class="contact__photo" alt="Photo of David Goss" src="/static/me.jpg"/>
            <h3 class="contact__name"><a href="/">David Goss</a></h3>
            <a href="mailto:david@davidgoss.co">david@davidgoss.co</a>
        </div>
    </section>
    <section class="long-form" itemprop="articleBody">
        {{ content | safe }}
    </section>
</article>
</body>
</html>


