<footer class="site-info" role="contentinfo">
    <p>&copy; {% currentYear %} David Goss | <a href="/feed.xml">Subscribe</a> | <a href="https://github.com/davidjgoss/davidjgoss.co">Source</a></p>
</footer>
