<footer class="site-info" role="contentinfo">
    <p>&copy; 2016&ndash;{{ site.time | date: '%Y' }} David Goss | <a href="/feed.xml">Subscribe</a> | <a href="https://github.com/davidjgoss/davidjgoss.github.io">Source</a></p>
</footer>
