<!doctype html>
<html lang="en">
{% include "head" %}
<body class="home-page">
    <h1 class="home-name">David Goss</h1>
    <section class="home-intro">
        {{ content | safe }}
    </section>
    <p class="home-social">
        <a href="https://github.com/davidjgoss" title="GitHub">{% include "github.svg" %}</a>
        <a href="https://www.linkedin.com/in/david-goss-2b986a181/" title="LinkedIn">{% include "linkedin.svg" %}</a>
        <a href="https://twitter.com/davidjgoss" title="Twitter">{% include "twitter.svg" %}</a>
    </p>
</body>
</html>
