<!doctype html>
<html lang="en">
{% include "head" %}
<body class="home-page">
    <h1 class="home-name">David Goss</h1>
    <section class="home-intro">
        {{ content | safe }}
    </section>
    <p class="home-social">
        <a href="https://github.com/davidjgoss" title="GitHub"><img alt="" src="/static/github.svg" width="27" height="27"/></a>
        <a href="https://www.linkedin.com/in/david-goss-2b986a181/" title="LinkedIn"><img alt="" src="/static/linkedin.svg" width="27" height="27"/></a>
        <a href="https://twitter.com/davidjgoss" title="Twitter"><img alt="" src="/static/twitter.svg" width="27" height="27"/></a>
    </p>
</body>
</html>
