---
layout: default
---
<header class="archive-header">
    <h1 class="page-heading">Articles</h1>
</header>

<div class="post-list">
    {% for post in collections.posts %}
    {% include 'post-listing.njk' %}
    {% endfor %}
</div>
